.footer {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92px;
}

.footer__left__element {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}

.footer__nav ul {
    display: flex;
}

.footer li {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-left: 30px;
}

@media screen and (min-device-width: 550px) and (max-width: 1100px) {
    .footer {
        margin: 0;
    }
}

@media screen and (min-device-width: 230px) and (max-width: 550px) {
    .footer__logo {
        display: none;
    }
}

@media screen and (min-device-width: 230px) and (max-width: 300px) {
    .footer__logo  {
        display: none;
    }

}