.header-logo {
    width: 135px;
    height: 25.83px;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: none;
    width: 32px;
    cursor: pointer;
}

.header__menu > img {
    max-width: 100%;
}

.header__menu-icon {
    width: 40px;
}

.header__nav {
    margin-left: 180px;
}


.header__nav ul{
    display: flex;
}

.header__nav-item {
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin: 40px;
}

.header__contact {
    background-color: #FFFFFF;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    padding: 10px 21.5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    border-radius: 4px;
    color: #606B74;    
}

 a {
    color: #fff;
  }
  
 a:hover {
    color: aquamarine;
  }

@media screen and (max-width:768px) {
    .header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        padding: 20px;
        z-index: 10;
    }

    .header__menu {
        display: block;
    }

    .header__contact {
        display: none;
    }

    .header__nav {
        background: #fff;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        margin-left: 0;
        bottom: 0;
        margin-top: 0;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
    }

    .header__nav.open {
        clip-path: circle(800px at top);
        position: fixed;
        margin-left: 0;
    }

    .header__nav ul {
        flex-direction: column;
        height: 25%;
    }

    .header__nav .header__nav-item {
        margin-right: 0;
        padding-top: 10vh;
        flex: 1;
    }

    .header__nav a {
        font-weight: 500;
        display: block;
        font-size: 32px;
        color: #606B74;
        position: fixed;
        
    }

   

}