.hero {
    background-image: url(/img/Bitmap.png);
    background-repeat: no-repeat;
    height: 571px;
    background-size: cover;

}

.hero__inner {
    display: flex;
}

.hero__left {
    width: 440px;
    padding-top: 152px;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
}

.hero__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.hero__paragraph {
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;

}

.hero_right {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: -120px;
    margin-left: 700px;
}

.oval {
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    
}

.triangle {
    width: 5px;
    height: 7px;
    margin-top: 7px;
    margin-left: 13px;
}

.hero_right_title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
    color: #FFFFFF;
}

@media screen and (max-width:1100) {
    .hero_right {
        display: none;
    }
}