.third__section {
    background-color: #26353B;
    height: 399px;
}

.third__inner {
    display: flex;
}

.third__left {
    width: 380px;
    height: 120px;
    margin-top: 66px;
    display: flex;
    flex-direction: column;

}

.third__title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
    margin-top: 11px;
}

.third__paragraph__left {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.third__right {
    width: 380px;
    height: 120px;
    margin-top: 133px;
    display: flex;
    flex-direction: column;
    margin-left: 43px;
}

.third__paragraph__right {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;

}

@media screen and (min-device-width: 500px) and (max-width: 860px) {
    .third__section {
        height: 400px;

    }
}


@media screen and (min-device-width: 230px) and (max-width: 500px) {
    .third__section {
        height: 510px;
    }

    .third__inner {
        margin-top: 50px;
        flex-direction: column;
    }

    .third__right {
        margin-left: 0px;
    }

    .third__title {
        font-weight: 700;
        height: 30px;
        font-size: 22px;
        margin-top: 50px;
    }

    .third__paragraph__right {
        font-weight: 380px;
        font-size: 13px;
        line-height: 24px;
        margin-top: 50px;
    }
}

@media screen and (min-device-width: 230px) and (max-width: 300px) {
    .third__section {
        height: 520px;
    }
}